.parent{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0px auto 70px auto auto auto 100px;
  grid-template-areas:
  "empty"
  'logo'
  'slogan'
  "title"
  "instruction"
  "emailSubscribe"
  "privacy";
  justify-items: left;
  align-items: left;
  color: #5C22FF;
  padding-left: 5%;
}
.privacy{
  grid-area: privacy;
  align-self: left;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 15px;
}
.privacy-text{
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  font-size: 20px;
  font-weight: 500;
}

.slogan-text{
  grid-area: slogan;
  display: grid;
  color: rgb(127, 238, 186);
  font-weight: bold;
}
.slogan-text p{
  font-size: 30px;
  background-color: #5C22FF;
  border-radius: 4px;
}
.message{
  /* font-size: 30px; */
  /* padding: 0 10px 0 10px; */
  /* text-align: center; */

}

/* =============================================================================================== */
@media screen and (max-width: 700px){
  .parent{
    grid-template-columns: .5fr .5fr;
    justify-items: center;
    overflow-x: hidden;
  }
  .slogan-text p{
    font-size: 20px;

  }
}

@media screen and (max-width: 1100px){

}
