.email{
  grid-area: emailSubscribe;
  display: grid;
  /* grid-gap: 2px; */
  grid-template-columns: [input] 4fr [button] 4fr;
}

.email-input{
  grid-area: input;
  border-radius: 6px;
  height: 70px;
  width: 400px;
  border: 2px solid #5C22FF;
  color: black;
  outline: none;
  font-size: 25px;
  transition: all 0.2s ease-in;
}


.email-input:focus,
:hover{
  border-color: green;
}

.email-button{
  grid-area: button;
  height: 70px;
  width: 350px;
  color: #fff;
  /* line-height: 19px; */
  background-color: red;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.email-button:hover{
  filter: brightness(85%);
}

.email-button:focus{
  outline: none;
}

/* ================================================================================= */

@media(max-width: 700px )  {
  .email{
    grid-gap: 10px;
    grid-template-areas:
    "input"
    "button"
  }
  .email-input,
  .email-button{
    width: 300px;
    grid-column: 1 / -1;
    font-size: 15px;
  }
}

@media(max-width: 1030px)  {
  .email{
    grid-template-areas:
    "input"
    "button";
    grid-gap: 10px;
  }
  .email-input,
  .email-button{
    width: 400px;
    grid-column: 1 / -1;
    font-size: 28px;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .email{
      grid-gap: 10px;
      grid-template-areas:
      "input"
      "button"
    }
    .email-input,
    .email-button{
      width: 250px;
      grid-column: 1 / -1;
      font-size: 25px;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .email{
      grid-gap: 10px;
      grid-template-areas:
      "input"
      "button"
    }
    .email-input,
    .email-button{
      width: 300px;
      grid-column: 1 / -1;
      font-size: 25px;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .email{
      grid-gap: 10px;
      grid-template-areas:
      "input"
      "button"
    }
    .email-input,
    .email-button{
      width: 350px;
      grid-column: 1 / -1;
      font-size: 30px;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .email{
      grid-gap: 10px;
      grid-template-areas:
      "input"
      "button"
    }
    .email-input,
    .email-button{
      width: 280px;
      grid-column: 1 / -1;
      font-size: 25px;
    }
}
/* ----------- Galaxy S3 ----------- */

@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
    .email{
      grid-gap: 10px;
      grid-template-areas:
      "input"
      "button"
    }
    .email-input,
    .email-button{
      width: 300px;
      grid-column: 1 / -1;
      font-size: 25px;
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .email{
      grid-gap: 10px;
      grid-template-areas:
      "input"
      "button"
    }
    .email-input,
    .email-button{
      width: 250px;
      grid-column: 1 / -1;
      font-size: 25px;
    }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {
    .email{
      grid-gap: 10px;
      grid-template-areas:
      "input"
      "button"
    }
    .email-input,
    .email-button{
      width: 250px;
      grid-column: 1 / -1;
      font-size: 25px;
    }
}

@media screen
  and (min-width: 280px){
    .email{
      grid-gap: 10px;
      grid-template-areas:
      "input"
      "button"
    }
    .email-input,
    .email-button{
      width: 250px;
      grid-column: 1 / -1;
      font-size: 25px;
      color: pink;
    }
}

/* @media(max-width: 1382px)  {
  .email{
    grid-template-areas:
    "input"
    "button";
    grid-gap: 10px;
  }
  .email-input,
  .email-button{
    width: 300px;
    grid-column: 1 / -1;
    font-size: 30px;
  }
} */
