.logo-container {
    grid-area: logo;
}
.logo {
  height: 40vmin;
  pointer-events: none;
  float: left;

}
/* need to make the logo bigger */
@media(max-width: 700px){
  .logo{
    /* align-items: center; */
    max-width: 195px;
    float: center;
  }

}
